PORT=3000
MONGODB_URI=mongodb+srv://lzw:<db_password>@cluster0.hllwgnq.mongodb.net/?appName=Cluster0
MONGODB_DB=landscape-map
SIGN_IN_COLLECTION="sign in"
TOKEN_SECRET=change-this-local-secret-before-deploy
